.jumbotron {
    background-color: rgba(40, 106, 150, 0.598);
    color: rgb(82, 59, 59);
    opacity: .75;
    margin-top: 30px;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    margin-left: 15px;
    margin-top: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h3 {
    font-weight: bold;
}

form {
    
    color: rgb(82, 59, 59);
    opacity: .75;
    margin-top: -25px;
    margin-bottom: 15px;
    
}

footer {
    float: left;
}

.sqh {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}





